* {
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    margin:0;
    height: auto;
    font-family: 'Sora', sans-serif;
    scroll-behavior: smooth;
    

}

* p {
    text-align: justify;
}

body {
    background-color: #D44D5C;
    
}

.header {
    width: 100%;
    position:absolute;
    position: -webkit-sticky;
    position: sticky;
    z-index: 200;
    display: flex;
    padding-top: 0.5vw;
    flex-direction: row;
    justify-content: flex-end;

}

.link a {
    font-size: 1vw;
    text-decoration: none;
    font-weight: 500;
    color: #F3F3F3;
    margin-right: 0.2vw;
    padding: 0.7vh;
    background-color: #0B0014;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
}

.contact a {
    color: #F3F3F3;
}


.first{
    position: relative;
    z-index:3;
    height: 105vh;
    background-color: #D44D5C;
    display: flex;
    justify-content: center;
    color: #F3F3F3;
    font-size: 32px;  
    box-sizing: content-box !important;
}

.second {
    position: relative;
    z-index:3;
    height: 120vh;
    background-color: #F5E9E2;
    display: flex;
    justify-content: center;
    color:#0B0014;
    box-sizing: content-box !important;
    
}

.third {
    box-sizing: content-box !important;
    z-index:3;
    position: relative;
    background-color: #D44D5C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F3F3F3;
}

.fourth{
    height: 100vh;
    box-sizing: content-box !important;
    position: relative;
    z-index:3;
    background-color: #F5E9E2;
    justify-content: center;
    color:#0B0014; 
}

.fifth {
   
    z-index:3;
    position: relative;
    background-color: #D44D5C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F3F3F3;
    height: 100vh;
}

.sixth{
    position: relative;
    z-index:3;
    height: 105vh;
    background-color: #F5E9E2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #0B0014;
    font-size: 32px;  
    box-sizing: content-box !important;
}

.seventh {
   
    z-index:3;
    position: relative;
    background-color: #D44D5C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F3F3F3;
    height: 100vh;
}

.title, .subtitle, .subtitle2 {
    display: flex;
    flex-direction:row;
    align-items: center;
}

.subtitle2 span {
    font-size: 2.5vh
}

.columns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 10px;
    -moz-border-radius:10px;
    border-radius: 10px;

}

.avatar {
    width: 45vh;
    margin-left: 5vw;
    
}

img {
    filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.187));
}

.mainTitle {
    text-decoration: underline;
    margin-bottom: 5vh;
}

.mainText{
    width: 35vw;
    line-height: 3.5vh;
    font-weight: 500;
    font-size: 2.2vw;
}

.color-white a {
    color: #F3F3F3 o !important;
    transition: color 300ms;
}

.color-black a {
    color: #0B0014 !important;
    transition: color 300ms;
}

.background-red {
    background-color: #773344 !important;
}

.flex-nospace {
    justify-content: center !important;
}

.padding-3 {
    padding: 3vh !important;
}

.margin-bottom-1 {
    margin-bottom: 1vh !important;
}

.margin-bottom-3 {
    margin-bottom: 3vh !important;
}

.margin-top-5 {
    margin-top: 5vh !important;
}

.margin-top-3 {
    margin-top: 3vh !important;
}

.margin-1 {
    margin: 1vh!important;
}
.align-text-center {
    text-align: center;
}

.mainText p {
    font-size: 1.2vw;
}

.field {
    position: relative;
    width: 21vw;
    height: 44vh;
    
}

.field p, .row h2, .field a, .field-row-text {
    font-size: 1vw;
}

.field h2 {
    font-size: 1.5vw;
}

.field img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 10vw;
    -webkit-transition: transform 500ms ease-out, color 500ms ease-out;
    -moz-transition: transform 500ms ease-out, color 500ms ease-out;
    -o-transition: transform 500ms ease-out, color 500ms ease-out;
    transition: transform 500ms ease-out, color 500ms ease-out;
}

.field img:hover {
    transform: scale(1.15);
}

.field button, .field a {
    position: absolute;
    width: 2vw;
    height: 2vw;
    background-color: transparent;
    border: none;
    font-size: 2vw;
    color: #D44D5C;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: transform 500ms ease-out, color 500ms ease-out;
    -moz-transition: transform 500ms ease-out, color 500ms ease-out;
    -o-transition: transform 500ms ease-out, color 500ms ease-out;
    transition: transform 500ms ease-out, color 500ms ease-out;
}

.field button:hover, .field a:hover {
    color: #F5E9E2;
    transform: scale(1.2) rotate(10deg);
    transition: transform 500ms ;
}

.download {
    margin-top: 3vh;
    -webkit-transition: transform 500ms ease-out;
    -moz-transition: transform 500ms ease-out;
    -o-transition: transform 500ms ease-out;
    transition: transform 500ms ease-out;
}

.download a {
    padding: 2vh;
    font-size: 1.3vw;
    text-decoration: none;
    background-color: #ffddc9;
    width: 20vh;
    color:#0B0014;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition:color 500ms ease-out, background-color 500ms ease-out;
    -moz-transition:color 500ms ease-out, background-color 500ms ease-out;
    -o-transition:color 500ms ease-out, background-color 500ms ease-out;
    transition:color 500ms ease-out, background-color 500ms ease-out;
    box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.10);
}

.download a:hover{
    background-color: #0B0014;
    color: #ffddc9;
}

.download:hover {
    transform: scale(1.15) translateX(25px);
}

.download-2 {
    margin-top: 3vh;
    -webkit-transition: transform 500ms ease-out;
    -moz-transition: transform 500ms ease-out;
    -o-transition: transform 500ms ease-out;
    transition: transform 500ms ease-out;
}

.download-2 a {
    padding: 2vh;
    font-size: 1vw;
    text-decoration: none;
    background-color: #0B0014;
    width: 10vh;
    color:#ffddc9;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition:color 500ms ease-out, background-color 500ms ease-out;
    -moz-transition:color 500ms ease-out, background-color 500ms ease-out;
    -o-transition:color 500ms ease-out, background-color 500ms ease-out;
    transition:color 500ms ease-out, background-color 500ms ease-out;
}

.download-2 a:hover{
    background-color: #ffddc9;
    color: #0B0014;
}

.download-2:hover {
    transform: scale(1.15) translateX(25px);
}

.download-3 {
    margin-top: 3vh;
    -webkit-transition: transform 500ms ease-out;
    -moz-transition: transform 500ms ease-out;
    -o-transition: transform 500ms ease-out;
    transition: transform 500ms ease-out;
}

.download-3 a {
    padding: 1vh;
    font-size: 1vw;
    text-decoration: none;
    background-color: #0B0014;
    width: 10vh;
    color:#ffddc9;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition:background-color 500ms ease-out, color 500ms ease-out ;
    -moz-transition:background-color 500ms ease-out, color 500ms ease-out ;
    -o-transition:background-color 500ms ease-out, color 500ms ease-out ;
    transition:background-color 500ms ease-out, color 500ms ease-out ;
}

.download-3 a:hover{
    background-color: #ffddc9;
    color: #0B0014;
}

.download-3:hover {
    transform: scale(1.15);
}

.rows {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.rows h1 {
    font-size: 2vw;
}

.text-size-2 {
    font-size: 1.6vw !important;
}
.row {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    background-color: #ffddc9;;
    -webkit-border-radius: 10px;
    -moz-border-radius:10px;
    border-radius: 10px;
}

.box-shadow-10 {
    box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.17);
    -webkit-box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.17);
}

.field-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 50vw;
    background-color: #ffddc9;;
    padding: 2vh;
    box-sizing: content-box;
    
}

.field-row-image img {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    width: 17vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.square {
    width: auto !important;
    height: auto  !important;
}

.column-container {
    -webkit-transition: transform 300ms ease-out;
    -moz-transition: transform 300ms ease-out;
    -o-transition: transform 300ms ease-out;
    transition: transform 300ms ease-out;

}

.column-container:hover {
    transform: scale(1.2) rotateZ(2deg);
}

.background-cream {
    background-color: #ffddc9;
}

.column-image {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    width: 17vw;
}

.contact p {
    line-height: 4vh;
}
@media screen and (max-width:1539px) {
    .field {
        position: relative;
        width: 21vw;
        height: 54vh; 
    }
    .field p, .row h2, .field a, .field-row-text {
        font-size: 1.22vw;
    }
    .field h2 {
        font-size: 1.72vw;
    }
    .field img {
        width: 11vw;
    }
    .field button, .field a {
        width: 2.1vw;
        height: 2.1vw;
        font-size: 2.1vw;
    }
}

@media screen and (max-width:1290px) {
    .field p, .row h2, .field a, .field-row-text {
        font-size: 1.46vw;
        font-weight: 400;
    }
    .field h2 {
        font-size: 1.80vw;
    }
    .field img {
        width: 12vw;
    }
    .field button, .field a {
        width: 2.1vw;
        height: 2.1vw;
        font-size: 2.3vw;
    }
    .field {
        position: relative;
        width: 21vw;
        height: 60vh;
    }
    .mainText p {
        font-size: 1.35vw;
    }
}

@media screen and (max-width:1159px) {
    .field h2 {
        font-size: 2vw;
    }
    .field img {
        width: 14vw;
    }
    .field button, .field a {
        width: 25pt;
        height: 2.2vw;
        font-size: 2.2vw;
    }
    .mainText p {
        font-size: 1.6vw;
    }
    .mainText h1 {
        font-size: 2.6em;
    }
    .avatar {
        width: 30vw;
    }
}

@media screen and (max-width: 1028px) {
    .field p, .row h2, .field a, .field-row-text {
        font-size: 1.7vw;
    }
    .field h2 {
        font-size: 1.9vw;
    }
    .field img {
        width: 14vw;
    }   
    .field button, .field a {
        width: 2.4vw;
        height: 2.4vw;
        font-size: 2.4vw;
    }
    .mainText p {
        line-height: 2.7vh;
    }
    .download a {
        font-size: 1.4vw;
    }
}

@media screen and (max-width: 839px) {
    .columns {
        display: flex;
        flex-direction: column;
    }
        .field p, .row h2, .field a, .field-row-text {
        font-size: 2.3vw;
    }
    .field h2 {
        font-size: 4vw;
    }
    .field img {
        width: 18vw;
    } 
    .field button, .field a {
        width: 2.5vw;
        height: 2.5vw;
        font-size: 5.8vw;
    }
    .field {
        position: relative;
        width: 70vw;
        height: 42vh; 
    }
    .field h2, .field p {
        display: flex;
        flex-direction: row;
    }
    .mainText p {
        font-size: 2.1vw;
    }
    .avatar {
        display: none
    }
    .download a {
        font-size: 1.9vw;
    }
}

@media screen and (max-width: 733px) {
    .field p, .row h2, .field a, .field-row-text {
        font-size: 2.5vw;
    }
    .field h2 {
        font-size: 4.2vw;
    }
}

@media screen and (max-width: 654px) {
    .field p, .row h2, .field a, .field-row-text {
        font-size: 3vw !important;
    }
    .field h2 {
        font-size: 4.3vw;
    }
}

@media screen and (max-width: 654px) {
    .field img {
        width: 21vw;
    }
}   

@media screen and (max-width: 515px) {
    .field p, .row h2, .field a, .field-row-text {
        font-size: 3.5vw !important;
    }
    .field h2 {
        font-size: 4.3vw;
    }
    .field button, .field a {
        width: 2.5vw;
        height: 2.5vw;
        font-size: 8vw;
    }
}

@media screen and (max-width: 477px) {

    .field img {
        width: 26vw;
    }
}

@media screen and (max-width: 402px) {
    .field p, .row h2, .field a, .field-row-text {
        font-size: 4.1vw !important;
    }
    .field img {
        width: 26vw;
    }
}

@media screen and (max-width: 343px) {
    .field p, .row h2, .field a, .field-row-text {
        font-size: 4.6vw !important;
    }
    .field h2 {
        font-size: 6vw;
    }
    .field img {
        width: 28vw;
    }
}

@media screen and (max-width: 280px) {
    .field p, .row h2, .field a, .field-row-text {
        font-size: 4.8vw !important;
    }
    .field img {
        width: 34vw;
    }
}
