
body {
    position: relative;
    background-color: #048B9A !important;
    z-index: -2;
    overflow-x: hidden;
  }

.container-fb {
    display: grid; 
    grid-template-columns: 70% 30%; 
    grid-template-rows: 50% 50%; 
    gap: 0px 0px; 
    grid-template-areas: 
      "first Second"
      "Third Fourth";
    width: 100%; 
    height: 100%;
  }


  .container-fb2 {
    display: grid; 
    grid-template-columns: 70% 30%; 
    grid-template-rows: 100% 100%; 
    gap: 0px 0px; 
    grid-template-areas: 
     
      "Third Fourth";
    width: 100%; 
    height: 50%;
  }
  .first { grid-area: first; background-color: #0b0b0b;}
  .Second { grid-area: Second; background-color: #048B9A; }
  .Third { grid-area: Third; background-color: #FFFFFF; }
  .Fourth { grid-area: Fourth; background-color: #E3170A; }

.z-index-0 {
    z-index: 0;
}
.navbar-c {
    position: absolute;
    z-index: 100;
    width: 100%;
}

.logo {
    display: block;
}

.f-syne {
    font-family: 'Syne', sans-serif;
}

.f-krona {
    font-family: 'Krona One', sans-serif;
}

.f-viaoda {
    font-family: 'Viaoda Libre', cursive;
}

.f-syne-black {
    font-family: 'Syne', sans-serif;
    font-weight: 900 !important;
}

.color-white {
    color: #FFFFFF;
    text-decoration: none;;
}

.hover-text-animate-p {
    transition: 200ms ease-in-out;
    text-shadow: 0 0 0.15em #efefef;
    color: #ffffff;
}

.hover-text-animate-p:hover {
    color: #E3170A;
    text-shadow: 0 0 0.15em #d06066;
    font-size: 1.2em;
    transform: translateY(-50px);
}

.hover-text-animate-b {
    transition: 200ms ease-in-out;
    text-shadow: 0 0 0.15em #efefef;
    color: #ffffff;
}

.hover-text-animate-b:hover {
    color: #048B9A;
    text-shadow: 0 0 0.15em #047885;
    font-size: 1.2em;
    transform: translateY(-50px);
}

.logo {
    margin-top: 0.5em; 
    margin-left: 0.7em; 
    font-size: 2.2em;
    cursor: pointer;
}

.nav-item {
    margin-top: 1.5em; 
    margin-left: 4em; 
    font-size: 1.2em;
    text-shadow: 0 0 0.25em #efefef;
    background: linear-gradient(to right, #E3170A,#048B9A,#E3170A);
    background-size: 200% 200%;
    animation: rainbow 20s ease-in-out infinite;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 200ms ease-in-out;
}

.color-br {
    background: linear-gradient(to right, #E3170A,#048B9A,#E3170A);
    background-size: 200% 240%;
    -webkit-background-clip: text;
    background-clip: text;
    color: #0b0b0b00;
    
}

.text-os {
    font-size: 4vw
}

.text-os2 {
    font-size: 3vw
}

.text-up {
    font-size: 5.2vw;
}

.text-down {
    font-size: 5.2vw;
}

.nav-item-last {
    margin-top: 1.5em; 
    margin-left: 4em; 
    margin-right: 3em; 
    font-size: 1.2em;
    text-shadow: 0 0 0.25em #efefef;
    background: linear-gradient(to right, #FF00A6,#048B9A,#FF00A6);
    background-size: 200% 200%;
    animation: rainbow 20s ease-in-out infinite;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 200ms ease-in-out;
}

.nav-item:hover {
    color:rgba(0,0,0,0);
    text-shadow: 0 0 0.15em #00000000;
    cursor: pointer;
}

.nav-item-last:hover {
    color:rgba(0,0,0,0);
    text-shadow: 0 0 0.15em #00000000;
    cursor: pointer;
}
@keyframes rainbow { 
  0%{background-position:0%}
  100%{background-position:2000%}
}

.square {
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 30;
    margin-left: 14%;
    margin-top: 25vh;
    width: 28vw;
    height: 53vh;
    background: linear-gradient(312deg, #E3170A 0%, #048B9A 100%);
    border-radius: 20px 20px 20px 20px;
}

.square-p::after {
    position:absolute;
    content: "";
    top: 0;
    transform: rotate(10deg) translate(-50%, 10%);
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: linear-gradient(120deg, #353535,#000000);
    border-radius: 20px;
    transition: 200ms ease-in-out;

}


.square::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
    transform: scale(1);
    transition: 2s ease-in-out;
}
.inner-square {
    position: relative;
    margin-top: 2vh;
    margin-left: 1vw;
    width: 26vw;
    height: 49vh;
    background: #0b0b0b;
    border-radius: 20px 20px 20px 20px;
    
}

.logo-min {
    display: none;
}

.inner {
    position: absolute;
    margin-top: 2%;
    margin-left: 1vw;
    
}

@media (max-width: 1022px) {
    .inner-square {
        display: none;
    }

    .square {
        display: none;
    }

    .square2 {
        display: none;
    }

    .inner {
        margin-top: 2%;
        margin-left: 1vw;
        width: 100%;
        height: 100%;
    }

    .container-fb {
        grid-template-columns: 50% 50%; 
    }

    .container-fb2 {
        grid-template-columns: 50% 50%; 
    }

    .text-up {
        font-size: 9vw;
    }

    .text-down {
        font-size: 8.6vw;
    }

    .logo {
        display: none !important;;
    }

    .logo-min {
        display: block !important;
        margin-top: 0.5em; 
        margin-left: 0.7em; 
        font-size: 1.8em;
        cursor: pointer;
    }
}

.form-col1 {
  display: flex;
  align-items:flex-end;
  justify-content:end
}

.form-col2 {
    display: flex;
    align-items:flex-end;
}

.form-col4 {
    display: flex;
  }
  
  .form-col3 {
      display: flex;
      justify-content:end
  }

.section-presentation {
    width: 100%;
    height: fit-content !important;
    background-color: #E3170A;
    padding-bottom: 12%;

}

.section-stages {
    width: 100%;
    height: fit-content !important;
    background-color: #ffffff ;

    padding-bottom: 12%;

}

.section-projets {
    width: 100%;
    height: fit-content !important;
    padding-bottom: 12%;   
}

.section-certifs {
    width: 100%;
    height: fit-content !important;
    padding-bottom: 12%;
    background-color: #0b0b0b;
}

.section-veilles {
    width: 100%;
    height: fit-content !important;
    padding-bottom: 12%;
    background-color: #ffffff
}



.title-presentation  {
    font-size: 5em; color: #F5F5F5; margin-bottom: 0.5em; text-shadow: 0 0 0.15em #efefef;  ;
}

.title-p {
    margin-top: 0.5em; color:#F5F5F5;font-size: 5em;
}

.title-presentation-white  {
    font-size: 5em; color: #000000; margin-bottom: 0.5em; text-shadow: 0 0 0.15em #ececec;  ;
}
.button {
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 30em;
    height: 3em;
    background: linear-gradient(45deg, #2B2B2B,#000000);
    background-size: 100% 100%;
    border-radius: 20px 20px 20px 20px;
    border: 0px;
    color: #ffffff !important;
    font-size: 1.2em;
    transition: 200ms ease-in-out;
}

.button-2 {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 18em;
    height: 3em;
    background: linear-gradient(90deg, #2B2B2B,#000000);
    background-size: 100% 100%;
    border-radius: 20px 20px 20px 20px;
    color: #ffffff !important;
    font-size: 1em !important;
    transition: 200ms ease-in-out;
}

.btn2-border-color-blue {
    border: 2px solid rgba(4, 139, 154, 0.8) !important;
}

.btn2-border-color-pink {
    border: 2px solid rgba(227,106,113, 0.8) !important;
}

.btn2-border-color-white {
    border: 2px solid rgba(255,255,255,0.8) !important;
}



.button-3 {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 30em;
    height: 3em;
    background: linear-gradient(45deg, #e4e4e4,#ffffff);
    background-size: 100% 100%;
    border-radius: 20px 20px 20px 20px;
    border: 0px;
    color: #0f0f0f !important;
    font-size: 1.2em;
    font-weight: 600;
    transition: 200ms ease-in-out;
}


.text-presentation p {
    font-weight: 400;
    font-size: 1.6em !important;
    color: #efefef;
}

.fw-700 {
    text-shadow: 0 0 0.05em #efefef;
    font-weight: 700;
}

.square-p {
    position: relative;
    width: 30em;
    height: 27em;
    background-color: #E3170A;
    background: linear-gradient(100deg, #1c1c1c,#000000);
    border-radius: 20px;
    margin: 25vh 1rem 0;
    margin: 30px;
    transition: 200ms ease-in-out;
    

}

.square-c {
    position: relative;
    width: 30em;
    height: 27em;
    background-color: #E3170A;
    background: linear-gradient(100deg, #1c1c1c,#000000);
    border-radius: 20px;
    margin: 25vh 1rem 0;
    margin: 30px;
    transition: 200ms ease-in-out;
}

.square-v {
    position: relative;
    width: 30em;
    height: 17em;
    background-color: #E3170A;
    background: linear-gradient(100deg, #1c1c1c,#000000);
    border-radius: 20px;
    margin: 25vh 1rem 0;
    margin: 30px;
    transition: 200ms ease-in-out;
}





.square-p:hover {
    transform: scale(1.1);
    transition: 200ms;
}

.square-p:hover::after {
    transform: rotate(0deg) translate(-50%, 0%) scale(1);
    transition: 200ms;
}

.square-s {
    height: fit-content !important;
    padding-bottom: 1em;
    background: linear-gradient(100deg, #3f3f3f,#000000);
    border-radius: 20px;
    margin: 5px;
    transition: 200ms ease-in-out;
    color: #ffffff;
      
  
}

.title-s {
    padding-top: 0.7em; 
    font-size: 2.5em; text-decoration: 
    underline 5px #fff solid; 
}


.square-s p{
    font-size: 1.5em;
}

.no-padding-row-left-right {
    padding-left: 0px !important;
    padding-right: 0px !important;

}

.square-s-big {
    height: fit-content !important;
    padding-bottom: 1em;
    background: linear-gradient(90deg, rgba(63,63,63,1) 0%, rgba(35,35,35,1) 0%, rgba(0,0,0,1) 100%);
    border-radius: 20px;
    margin: 5px;
    transition: 200ms ease-in-out;
    color: #ffffff;  
}

.square-s-big p{
    font-size: 1.5em;
}


@media (max-width : 1280px)  {
    .nav-item {
        display: none;
    }

    .nav-item-last {
        display: none;
    }
    
}

@media (max-width : 992px)  {
    .text-presentation {
        font-size: 1em !important;
    }
}


@media (max-width: 768px) {
    .title-presentation  {
        font-size: 3.4em !important; color: #F5F5F5; margin-bottom: 0.5em; text-shadow: 0 0 0.15em #efefef;  ;
    }
    
    .button-3 {
        width: 50vw
    }

    .square-s p {
        font-size: 1em !important;
    }

    .square-p {
        transform: translate(20px) !important;
    }

    .square-v h3 {
        font-size: 3.5em !important;
    }
}

@media (max-width : 537px)  {
    .nav-item {
        display: none;
    }

    .nav-item-last {
        display: none;
    }

    .w-100 {
        width: 0px;
    }

    .title-presentation {
        font-size: 3em;
    }

    .text-presentation {
        font-size: 0.7em !important;
    }
    
    .button {
        width: fit-content;
        font-size: 0.7em !important;
    }
}


@media (max-width: 506px) {
    .title-presentation  {
        font-size: 2em !important;
    }

    .title-presentation-white {
        font-size: 2em !important;
    }

    .title-s {
        font-size: 2em;
    }

    
    .button-3 {
        width: 70vw
    }

    .square-v h3 {
        font-size: 2.5em !important;
    }
}

@media (max-width : 426px)  {
    .square-p {
        transform: translate(5%) !important;
    }
    .square-p::after {
        transform: rotate(3deg) translate(-50%, 2%);
    }
}



@media (max-width: 394px) {
    .square-p p {
        font-size: 3.5vw !important;
    }
    .button-2 {
        width: 70vw
    }
    .square-p {
        transform: translate(3%) !important;
    }
    
    .button-3 {
        width: 80vw
    }

    .title-p {
        font-size: 15.5vw !important;
    }

    .title-s {
        font-size: 6vw !important;
    }

    .square-s p {
        font-size: 4vw !important;
    }
    


}

